In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('car_prices.csv')
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [5]:
df.shape

(558837, 16)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558811 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558811 non-null  int64
 1   make          558811 non-null  object
 2   model         558811 non-null  object
 3   trim          558811 non-null  object
 4   body          558811 non-null  object
 5   transmission  558811 non-null  object
 6   vin           558811 non-null  object
 7   state         558811 non-null  object
 8   condition     558811 non-null  float64
 9   odometer      558811 non-null  float64
 10  color         558811 non-null  object
 11  interior      558811 non-null  object
 12  seller        558811 non-null  object
 13  mmr           558811 non-null  float64
 14  sellingprice  558811 non-null  float64
 15  saledate      558811 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 72.5+ MB

In [7]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [9]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [11]:
(df.isnull().sum()/len(df))*100

year             0.000000
make             1.843292
model            1.860829
trim             1.905922
body             2.361154
transmission    11.694287
vin              0.000716
state            0.000000
condition        2.115107
odometer         0.016821
color            0.134028
interior         0.134028
seller           0.000000
mmr              0.006800
sellingprice     0.002147
saledate         0.002147
dtype: float64

In [15]:
df.median(numeric_only=True)

year             2012.0
condition          35.0
odometer        52254.0
mmr             12250.0
sellingprice    12100.0
dtype: float64

In [17]:
df.mean(numeric_only=True)

year             2010.038927
condition          30.672365
odometer        68320.017767
mmr             13769.377495
sellingprice    13611.358810
dtype: float64

In [19]:
df['condition'] = df['condition'].fillna(df['condition'].median())
df['odometer'] = df['odometer'].fillna(df['odometer'].median())
df['mmr'] = df['mmr'].fillna(df['mmr'].median())
df['sellingprice'] = df['sellingprice'].fillna(df['sellingprice'].median())

In [21]:
(df.isnull().sum()/len(df))*100

year             0.000000
make             1.843292
model            1.860829
trim             1.905922
body             2.361154
transmission    11.694287
vin              0.000716
state            0.000000
condition        0.000000
odometer         0.000000
color            0.134028
interior         0.134028
seller           0.000000
mmr              0.000000
sellingprice     0.000000
saledate         0.002147
dtype: float64

In [23]:
df['make'] = df['make'].fillna(df['make'].mode()[0])

In [25]:
df['model'] = df['model'].fillna(df['model'].mode()[0])

In [27]:
df['trim'] = df['trim'].fillna(df['trim'].mode()[0])

In [29]:
df['body'] = df['body'].fillna(df['body'].mode()[0])

In [31]:
df['transmission'] = df['transmission'].fillna(df['transmission'].mode()[0])

In [33]:
df['vin'] = df['vin'].fillna(df['vin'].mode()[0])

In [35]:
df['color'] = df['color'].fillna(df['color'].mode()[0])

In [37]:
df['interior'] = df['interior'].fillna(df['interior'].mode()[0])

In [39]:
df['saledate'] = df['saledate'].fillna(df['saledate'].mode()[0])

In [41]:
(df.isnull().sum()/len(df))*100

year            0.0
make            0.0
model           0.0
trim            0.0
body            0.0
transmission    0.0
vin             0.0
state           0.0
condition       0.0
odometer        0.0
color           0.0
interior        0.0
seller          0.0
mmr             0.0
sellingprice    0.0
saledate        0.0
dtype: float64

In [43]:
df['saledate'] = pd.to_datetime(df['saledate'],errors = 'coerce')

C:\Users\Impana\AppData\Local\Temp\ipykernel_21268\3064755654.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['saledate'] = pd.to_datetime(df['saledate'],errors = 'coerce')
C:\Users\Impana\AppData\Local\Temp\ipykernel_21268\3064755654.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['saledate'] = pd.to_datetime(df['saledate'],errors = 'coerce')

In [45]:
df['saledate']

0         2014-12-16 12:30:00+08:00
1         2014-12-16 12:30:00+08:00
2         2015-01-15 04:30:00+08:00
3         2015-01-29 04:30:00+08:00
4         2014-12-18 12:30:00+08:00
                    ...
558832    2015-07-09 07:00:00+07:00
558833    2015-07-08 09:30:00+07:00
558834    2015-07-08 09:30:00+07:00
558835    2015-07-09 06:45:00+07:00
558836    2015-05-28 05:30:00+07:00
Name: saledate, Length: 558837, dtype: object

In [47]:
df = df.dropna(subset=['vin', 'sellingprice', 'saledate'])

In [49]:
df = df.dropna(subset=['saledate'])

In [53]:
df.duplicated().sum()

0

In [55]:
df.drop_duplicates(inplace=True)

In [57]:
text_cols = ['make', 'model', 'trim', 'body', 'transmission', 'color', 'interior', 'state', 'seller']
df[text_cols] = df[text_cols].apply(lambda x: x.str.lower())

In [63]:
df.reset_index(drop=True, inplace=True)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558811 entries, 0 to 558810
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558811 non-null  int64
 1   make          558811 non-null  object
 2   model         558811 non-null  object
 3   trim          558811 non-null  object
 4   body          558811 non-null  object
 5   transmission  558811 non-null  object
 6   vin           558811 non-null  object
 7   state         558811 non-null  object
 8   condition     558811 non-null  float64
 9   odometer      558811 non-null  float64
 10  color         558811 non-null  object
 11  interior      558811 non-null  object
 12  seller        558811 non-null  object
 13  mmr           558811 non-null  float64
 14  sellingprice  558811 non-null  float64
 15  saledate      558811 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [67]:
# Example: Converting 'date_of_birth' to datetime if the column exists
if 'saledate' in df.columns:
    df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce', dayfirst=True)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558811 entries, 0 to 558810
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558811 non-null  int64
 1   make          558811 non-null  object
 2   model         558811 non-null  object
 3   trim          558811 non-null  object
 4   body          558811 non-null  object
 5   transmission  558811 non-null  object
 6   vin           558811 non-null  object
 7   state         558811 non-null  object
 8   condition     558811 non-null  float64
 9   odometer      558811 non-null  float64
 10  color         558811 non-null  object
 11  interior      558811 non-null  object
 12  seller        558811 non-null  object
 13  mmr           558811 non-null  float64
 14  sellingprice  558811 non-null  float64
 15  saledate      395501 non-null  datetime64[ns, tzoffset('PST', 28800)]
dtypes: datetime64[ns, tzoffset('PST', 28800)](1), float64(4), int64(1), object(10)
memory usage: 68.2+ MB